<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Portofolio App with Flask">
    <meta name="author" content="Matthew Adrianus Mulyono">
    <title>100 Days of Python Portofolio</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link href="{{ url_for('static', filename='styles.css')}}" rel="stylesheet">
    <style>
        
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <div class="container">
          <a class="navbar-brand" href="{{url_for('home')}}">100 Days of Python</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse nav-align" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('about')}}">About</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Type
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                    <li><a class="dropdown-item" href="{{url_for('by_type', type='Scripting')}}">Scripting</a></li>
                    <li><a class="dropdown-item" href="{{url_for('by_type', type='GUI (Tkinter or Turtle)')}}">GUI</a></li>
                    <li><a class="dropdown-item" href="{{url_for('by_type', type='HTTP Requests and APIs')}}">HTTP Requests and APIs</a></li>
                    <li><a class="dropdown-item" href="{{url_for('by_type', type='Automation')}}">Automation</a></li>
                    <li><a class="dropdown-item" href="{{url_for('by_type', type='Web Development')}}">Web Development</a></li>
                    <li><a class="dropdown-item" href="{{url_for('by_type', type='Data Science')}}">Data Science</a></li>
                  </ul>
              </li>
              {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>