{% extends "layout.html" %} 

{% block title %}
    {% if purpose == 'add' %}   
        Add Product
    {% elif purpose == 'update' %} 
        Update Product
    {% else %}
        {{product.name}}
    {% endif %}
{% endblock %}

{% block content %} 
<main>
    <div class="row">
        {% if purpose == 'update' %} 
        <h2 class='text-center'>Update Product</h1>
        {% endif %}
        <div class="col {% if purpose != 'update' %}product-info{% endif %}">
        {% if purpose != 'add' %}
            {% if purpose == 'get' %}
                <img src="{{product.image_url}}" alt="{{product.name}}" class='product-img'>
            {% endif %}
            <div class='product-detail'>
                {% if purpose == 'update' %} 
                    <h4>{{product.name}}</h4> 
                    <img src="{{product.image_url}}" alt="{{product.name}}" class='update-img'>
                {% else %} 
                    <h1>{{product.name}}</h1>
                {% endif %}
                <p>{{product.description.strip().capitalize()}}</p>
                <p>{{product.reviews | get_average_rating}} ({{product.reviews | get_number_of_reviews}}) </p>
                <p>Category: {{product.categories | refactor_categories}}</p>
                <p>Price: {{product.price | format_currency }}</p>
                {% if product.stock>0 %} 
                    <p>In Stock: {{product.stock}}</p>
                    {% if current_user.id != 1 %}
                    <form id = 'cart_form' action="{% if current_user.is_authenticated %}{{url_for('add_to_cart', user_id = current_user.id, product_id=product.id)}}{% endif %}" method="post">
                        {{cart_form.csrf_token}} 
                        {{cart_form.count()}}
                        <button type = 'button' class = 'btn btn-primary' onclick="{% if current_user.is_authenticated %}addedToCart(){% else %}notLoggedIn(){% endif %}">Add to Cart</button>
                    </form>
                    {% endif %}
                {% else %}
                    <button class='btn btn-danger'>SOLD OUT!!</button>
                {% endif %}
                {% if purpose == 'get' and current_user.id == 1 %}
                    <a href="{{url_for('update_product', id=product.id)}}" class='btn btn-info'>Update Product</a>
                {% endif %}
            </div>
        </div>
        {% if purpose == 'get' %}
        <div class="row">
            <div class = 'col horizontal-padding-50'>
                {% if product.reviews != [] %}
                <h4>Reviews: </h4>
                <hr>
                {% for review in product.reviews %} 
                    <p>{{review.rating | get_stars }}, "{{review.review}}" - {{review.user.name}}</p>
                {% endfor %}
                <hr>
                {% endif %}
            </div>
        </div>
        {% endif %}
        {% if purpose == 'get' and current_user.is_authenticated and current_user.id !=1 %} 
        <div class="row">
            <div class="col horizontal-padding-50">   
                <h3>Add Review</h3> 
                <form action="{{url_for('get_product', id=product.id)}}" method="post" novalidate class='col'>
                    {{review_form.csrf_token}}
                    <div class="form-group">
                        <label class="control-label">{{review_form.rating.label}}</label>
                        {{review_form.rating(class="form-control")}}
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{review_form.body.label}}</label>
                        {{review_form.body(class="form-control")}}
                    </div>  
                    <br>
                    {{review_form.submit(class='btn btn-primary')}}
                </form>
            </div>
        </div>
        {% endif %}
        {% endif %}
        {% if purpose != 'get' %} 
        <form action="{% if purpose == 'add' %}{{url_for('add_product')}}{% else %}{{url_for('update_product', id=product.id)}}{% endif %}" method="post" novalidate class='col'>
            {{form.csrf_token}}
            <h2>
                {% if purpose == 'add' %}
                    Add Product
                {% endif %}
            </h2>
            <div class="form-group">
                <label class="control-label">{{form.name.label}}</label>
                {{form.name(class="form-control")}}
            </div>
            <div class="form-group">
                <label class="control-label">{{form.description.label}}</label>
                {{form.description(class="form-control")}}
            </div>
            <div class="form-group">
                <label class="control-label">{{form.image_url.label}}</label>
                {{form.image_url(class="form-control")}}
            </div>
            <div class="form-group">
                <label class="control-label">{{form.price.label}}</label>
                {{form.price(class="form-control")}}
            </div>
            <div class="form-group">
                <label class="control-label">{{form.stock.label}}</label>
                {{form.stock(class="form-control")}}
            </div>
            <div class="form-group">
                <label class="control-label">{{form.categories.label}}</label>
                {{form.categories(class="form-control")}}
            </div>
            <br>
            {{form.submit(class='btn btn-primary')}}
        </form>
        {% endif %}
    </div>
</main>
{% endblock %}

