{% include 'header.html' %}
<header class = 'about'>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class='header'>
            <h1>About this website</h1>
            <span>What is this website anyway? Does it matter?</span>
          </div>
        </div>
      </div>
    </div>
</header>
<main class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello there, welcome to my portofolio website</p>
        <p>My name is Matthew Adrianus Mulyono, and this is my portofolio website</p>
        <p>This website contains information about my finished projects while doing the 100 Days of Python course</p>
        <p>Since there are like around 80 projects, I only included the projects that I liked to be shown here</p>
        <p>The purpose of this website is to showcase my projects and improve my backend building skills using flask framework</p>
        <p>Sorry for the 'not exactly cool' web design. I'm not experienced enough in frontend 😅</p>
      </div>
    </div>
</main>
{% include "footer.html" %}
