<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Rating</title>
</head>
<body>
    <h4>Book Name: {{book['book_title']}}</h4>
    <p>Current Rating: {{book['book_rating']}}/10 </p><br>
    <form action="{{url_for('edit_rating', id =book['book_id'])}}" method="post">
        <label>New Rating: </label>
        <input type="text" name='newrating'>
        <input type="submit">
    </form>
</body>
</html>