{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ url_for('static', filename='img/about-bg.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About this Website</h1>
            <span class="subheading">This is what the website is all about.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hello there, I'm Matthew Adrianus Mulyono, and this is my Blog Website</p>
        <p>This website is part of my 100 days of Python Capstone Project</p>
        <p>Blog Post Project implements Backend Web Development using Flask, implementing Authentication, Database, Routes, Deployment, etc.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}