{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm218batch4-katie-17.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=616882576ddcccf8d6fad81adf6f52a1')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Matthew's Blog</h1>
            <span class="subheading">A collection of random blog posts.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.author.name}}</a>
            on {{post.date}}
            {% if current_user.id == 1 %}
            <a href="{{url_for('delete_post', post_id=post.id) }}">✘</a>
            {% endif %}
          </p>
        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->
        <div class="clearfix">
          {% if current_user.id == 1 %}
          <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}