<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
</head>
<body>
    <!-- 2 curly braces -> python code -->
    <h1>Hello There</h1>
    <h2>{{5*10/33}}</h2>
    <h3>{{random_number}}</h3>
    <a href='{{url_for("blog", num = random_number)}}'>Go To Blog</a>
    <footer>
        &copy; {{year}} by Matthew Adrianus Mulyono
    </footer>
</body>
</html>