body{
    height:100vh;
}

main{
    background-image: url('https://media.istockphoto.com/photos/row-of-old-books-with-colorful-covers-on-pastel-blue-background-up-picture-id1126130554?b=1&k=20&m=1126130554&s=170667a&w=0&h=FE567m131qLbVFwO5D6oIL2toLTat4t6_cN-UXa69n8=');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    min-height:100%;
    height:auto;
    display:flex;
    justify-content: center;
    align-items:center;
}

.main{
    padding:50px;
    text-align: center;
}

.flash{
    color:red;
}

input{
    margin-top:15px;
}

.result-image{
    max-width:800px;
    max-height:600px;
    margin-bottom:20px;
}

.box{
    width:25px;
    height:25px;
    border:0.1px solid black;
}

.link{
    text-decoration: none;
}

.result{
    background-image: url('https://thumbs.dreamstime.com/b/blue-soft-color-mixed-background-painting-art-pastel-abstract-colorful-art-wallpaper-blue-abstract-colorful-bright-color-paint-117208030.jpg');
}

.definition{
    margin: 0 auto;
    display: flex;
}

.meaning{
    text-align: left;
    margin-left:30px;
}

.image{
    width:200px;
    height:200px;
}